<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046541148461-0eqngpdekft9ilsol6sjgglooqvokjiv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzWlEiG_8ut657ZvsHaedisIanzs4F7gE</string>
	<key>GCM_SENDER_ID</key>
	<string>1046541148461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.studiosol.CifraClub.debug</string>
	<key>PROJECT_ID</key>
	<string>integral-accord-651</string>
	<key>STORAGE_BUCKET</key>
	<string>integral-accord-651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046541148461:ios:1d85a1e9d2bc526eb6b3a4</string>
	<key>DATABASE_URL</key>
	<string>https://integral-accord-651.firebaseio.com</string>
</dict>
</plist>